@mixin font {
  font-size: 14px;
  font-weight: 400;
  color: $black;
  font-family: "Poppins", sans-serif;
}

//general mixins
@mixin fontsmoothing {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

@mixin vibestitle {
  font-family: "Great Vibes", cursive;
  font-size: $fsize * 3;
  font-weight: normal;
  line-height: $fsize * 4;
}
@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin newmodal{
  position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
}
//mixins for responsive devices

@mixin mobile {
  @media (min-width:#{$mobile-width}) and (max-width:#{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width:#{$tablet-width}) and (max-width: #{$laptop-width - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1 }) {
    @content;
  }
}
