@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
body {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

p {
  padding-bottom: 0;
}

a:hover {
  text-decoration: none;
}

header .news-updates a {
  text-decoration: none;
}

input[type='submit'] {
  cursor: pointer;
}

.fbold, .title-row h2, header .news-updates a, .subbody .breadcrumb .pagetitle {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.greenlink {
  background: #1e7400;
  color: #fff !important;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  height: 35px;
}

.greenlink:hover {
  background: none;
  color: #1e7400 !important;
  border: 1px solid #1e7400;
  text-decoration: none;
}

.greenlink:focus {
  outline: none;
}

.title-row h2 {
  font-size: 20px;
}

.title-row h6 {
  font-size: 13px;
  color: #1e7400;
}

.txtgreen {
  color: #1e7400;
}

.txtgreen:hover {
  text-decoration: none;
}

.txtblack {
  color: #000;
}

.fixed-theme {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
  margin-top: -74px;
}

header {
  position: relative;
  z-index: 99;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .news-updates {
  background: #1e7400;
  color: #fff;
}

header .news-updates p {
  line-height: 24px;
  font-size: 12px;
}

header .news-updates a {
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .news-updates a:hover {
  text-decoration: none;
}

header .news-updates .closeicon {
  right: 10px;
  top: 10px;
}

header .news-updates .closeicon a {
  font-size: 20px;
}

header .news-updates .closeicon a .icomoon {
  font-size: 13px;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .navbar-brand {
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .nav-link {
  color: #000;
  margin: 0 10px;
}

header .navbar .nav-link:hover {
  color: #1e7400;
}

.search-section {
  margin-top: -96px;
}

.search-section .search-col h6 {
  color: #1e7400;
  letter-spacing: 2px;
}

.search-section .search-col h1 {
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  font-weight: normal;
  line-height: 56px;
  font-size: 56px;
  margin: 15px 0;
  color: #1e7400;
}

.search-section .search-col .search-form {
  font-size: 12px;
}

.search-section .search-col .search-form .icon {
  color: #1e7400;
  top: 10px;
  left: 10px;
  font-size: 17px;
}

.search-section .search-col .search-form .form-control {
  font-size: 14px;
  border-radius: 0;
  padding-left: 35px;
  height: 40px;
}

.search-section .search-col .search-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1e7400;
}

.search-section .search-col .search-form ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.search-section .search-col .search-form :-ms-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.search-section .search-col .search-form ::-ms-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.search-section .search-col .search-form ::placeholder {
  color: #000;
  opacity: 0.3;
}

.search-section .search-col .search-form .btn {
  border-radius: 0;
  position: relative;
  background: #1e7400 url(../img/nexticon.png) no-repeat center center;
  height: 45px;
  min-width: 45px;
}

.search-section .search-col .search-form .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main {
  padding-top: 70px;
  min-height: 500px;
}

.how-itworks {
  background: #f7f3f3;
}

.how-itworks .howcol figure {
  width: 105px;
  height: 105px;
  border: 1px solid #1e7400;
  border-radius: 50%;
  line-height: 155px;
}

.how-itworks .howcol figure img {
  width: 65px;
  height: 65px;
}

.how-itworks .howcol article h4 {
  font-size: 18px;
  padding: 8px 0;
}

.how-itworks .howcol article h4::first-letter {
  background: #1e7400;
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}

.how-itworks .howcol article p {
  line-height: 22px;
  color: #666666;
  font-size: 13px;
  padding: 12px 0;
}

.top-restaurants ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-restaurants ul li {
  margin: 0 2px;
}

.top-dishes .dishfigure:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.top-dishes .dishfigure img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.top-dishes .dishfigure .price {
  top: 0;
  right: 0;
  padding: 5px;
  color: #fff;
  background: #1e7400;
  font-size: 13px;
}

.top-dishes .dishtitle {
  background: #fff;
  padding: 10px;
  width: 90%;
  margin: -45px auto 0 auto;
  position: relative;
}

.top-dishes .dishtitle h6 {
  font-size: 14px;
  color: #1e7400;
  padding: 0;
  margin: 0;
}

.testimonials-home {
  background-color: #f7f3f3;
  background: url(../img/testimonials-bg.png) repeat-x center bottom;
  padding-bottom: 60px;
}

.testimonials-home .test-container {
  background: #fff;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  min-height: 250px;
  margin-top: 40px;
}

.testimonials-home .test-container .testcol {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-home .test-container .testcol .tester {
  position: relative;
}

.testimonials-home .test-container .testcol .tester figure {
  margin: 10px;
}

.testimonials-home .test-container .testcol .tester figure img {
  width: 158px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.testimonials-home .test-container .testcol .tester figure img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.testimonials-home .test-container .testcol .tester .comments {
  background: #f7f3f3;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  min-height: 100px;
}

.subscribe {
  background: url(../img/subscribebg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
}

.subscribe .subscribe-in {
  background: #fff;
  min-height: 65px;
  width: 100%;
  border-radius: 40px;
}

.subscribe .subscribe-in input[type="text"] {
  height: 60px;
  padding: 5px 10px;
  border: none;
  margin-left: 20px;
  border-radius: 40px;
  width: 76%;
}

.subscribe .subscribe-in input[type="text"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.subscribe .subscribe-in ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.subscribe .subscribe-in :-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.subscribe .subscribe-in ::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.subscribe .subscribe-in ::placeholder {
  color: #000;
  opacity: 0.5;
}

.subscribe .subscribe-in input[type="submit"] {
  background: #1e7400;
  width: 20%;
  height: 55px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  margin-top: 5px;
  margin-left: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 17px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.subscribe .subscribe-in input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subscribe .subscribe-in input[type="submit"]:hover {
  background: #fff;
  color: #1e7400;
  border: 1px solid #1e7400;
}

footer {
  background: #fefefe url(../img/footerbgimg.jpg) no-repeat top right;
  min-height: 250px;
}

footer h4 {
  font-size: 18px;
  color: #000;
  padding: 15px 0;
}

footer ul li a {
  color: #999999;
  padding: 7px 0;
  display: inline-block;
  font-size: 13px;
}

footer ul li a:hover {
  text-decoration: none;
  color: #1e7400;
}

footer .footersocial a {
  color: #000;
  font-size: 18px;
}

footer .footersocial a:hover {
  text-decoration: none;
  color: #1e7400;
}

footer .copyrights {
  background: #1e7400;
  padding: 15px 0;
}

footer .copyrights #movetop {
  width: 45px;
  height: 45px;
  background: #1e7400;
  color: #fff;
  bottom: 0;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  border: 1px solid transparent;
  z-index: 999;
}

footer .copyrights #movetop .icomoon {
  font-size: 18px;
}

footer .copyrights #movetop:hover {
  background: #ca0808;
  text-decoration: none;
}

footer .copyrights p {
  color: #fff;
  font-size: 13px;
}

.subbody .news-updates {
  display: none;
}

.subbody .breadcrumb {
  background: #f7f3f3;
  margin-bottom: 0;
}

.subbody .breadcrumb .active {
  color: #1e7400;
  font-size: 13px;
}

.subbody .breadcrumb a {
  color: #000;
  font-size: 13px;
}

.subbody .breadcrumb .pagetitle {
  color: #1e7400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subbody .subpage-body {
  padding: 25px 0;
}

.subbody .subpage-body p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.subbody .subpage-body .signform label {
  padding: 5px 0;
}

.subbody .subpage-body .signform .form-group {
  margin-bottom: 25px;
}

.subbody .subpage-body .signform .form-control {
  height: 45px;
  border-radius: 25px;
  padding-left: 20px;
}

.subbody .subpage-body .signform .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #1e7400;
  border-color: #1e7400;
}

.subbody .subpage-body .signform ::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.subbody .subpage-body .signform :-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.subbody .subpage-body .signform ::-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.subbody .subpage-body .signform ::placeholder {
  color: #ccc;
  font-size: 13px;
}

.subbody .subpage-body .signform a {
  color: #000;
  text-decoration: none;
}

.subbody .subpage-body .signform a:hover {
  color: #1e7400;
}

.subbody .subpage-body .titlelist {
  padding: 10px 0;
  font-size: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.subbody .subpage-body .filters {
  padding: 20px 0;
}

.subbody .subpage-body .filters li {
  padding: 7px 0;
}

.subbody .subpage-body .filters li a {
  color: gray;
}

.subbody .subpage-body .filters li a span {
  padding: 0 10px;
  display: inline-block;
}

.subbody .subpage-body .filters li a:hover {
  text-decoration: none;
  color: #000;
}

.subbody .subpage-body .filters li label:hover {
  color: #1e7400;
}

.subbody .subpage-body .rank {
  color: #1e7400;
}

.subbody .subpage-body .rest-col {
  min-height: 120px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px;
}

.subbody .subpage-body .rest-col p {
  font-size: 13px;
}

.subbody .subpage-body .rest-col .icon-star {
  color: #999999;
  cursor: pointer;
}

.subbody .subpage-body .rest-col h5 {
  padding: 5px 0;
}

.subbody .subpage-body .rest-col h5 a {
  font-size: 17px;
  color: #000;
}

.subbody .subpage-body .rest-col h5 a:hover {
  text-decoration: none;
  color: #1e7400;
}

.subbody .subpage-body .rest-col .typefood {
  color: #999999;
  font-size: 13px;
}

.subbody .subpage-body .rest-col .view a {
  color: #999999;
  padding: 5px 7px;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 3px;
}

.subbody .subpage-body .rest-col .view a:hover {
  text-decoration: none;
  background: #1e7400;
  color: #fff;
}

.subbody .subpage-body .rest-col .view .viewmenu {
  border: 1px solid #1e7400;
  color: #1e7400;
}

.subbody .subpage-body .detail-food-col {
  min-height: 96px;
}

.subbody .subpage-body .detail-food-col .foodimg {
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.subbody .subpage-body .pagination li a {
  padding: 10px;
  color: #000;
  border: 1px solid #ccc;
  margin-left: -1px;
  height: 35px;
  display: inline-block;
}

.subbody .subpage-body .pagination li a:hover {
  text-decoration: none;
  background: #1e7400;
  color: #fff;
}

.subbody .subpage-body .addfood {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  line-height: 20px;
  text-align: center;
}

.subbody .subpage-body .rest-review {
  margin: 20px 0;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}

.subbody .subpage-body .rest-review p {
  font-size: 13px;
}

.subbody .subpage-body .rest-review small {
  color: #999999;
}

.subbody .subpage-body .form-booktable .form-control {
  height: 36px;
  border-radius: 0;
  font-size: 13px;
}

.subbody .subpage-body .form-booktable .form-control:focus {
  outline: #1e7400;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #1e7400;
}

.subbody .subpage-body .form-booktable ::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 12px;
}

.subbody .subpage-body .form-booktable :-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 12px;
}

.subbody .subpage-body .form-booktable ::-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 12px;
}

.subbody .subpage-body .form-booktable ::placeholder {
  color: #b3b3b3;
  font-size: 12px;
}

.subbody .subpage-body .cart-food td {
  font-size: 12px;
  line-height: 18px;
}

.subbody .subpage-body .cart-food tfoot {
  background: #000;
  color: #fff;
}

.subbody .subpage-body .cart-food tfoot td {
  font-size: 16px;
}

.subbody .subpage-body .delvicon img {
  width: 150px;
}

.subbody .subpage-body .deliverytable tr td {
  line-height: 20px;
}

.choicetitle {
  font-size: 17px;
  border-bottom: 1px solid #f7f3f3;
  padding: 10px 0;
  color: #1e7400;
}

.modal-title {
  font-size: 20px;
}

.form-food .custom-control-label {
  line-height: 23px;
}

.form-food .pricetag {
  font-size: 12px;
  display: block;
  margin-left: 30px;
  margin-top: 10px;
  color: gray;
}

.form-food .coladd {
  margin-bottom: 20px;
}

.bloglist a {
  color: #000;
}

.bloglist a:hover {
  text-decoration: none;
  color: #1e7400;
}

.blogdt {
  padding-bottom: 10px;
}

.blogdt span {
  display: inline-block;
  font-size: 13px;
  color: #989898;
}

.blogdt span:after {
  content: '|';
  padding: 0 10px;
}

.blogdt span:last-child:after {
  content: '';
}

.blogdetail p {
  padding-bottom: 20px;
  text-align: justify;
}

.form-contact label {
  padding: 10px 0;
}

.form-contact .form-control {
  border-radius: 0;
  min-height: 50px;
}

.form-contact ::-webkit-input-placeholder {
  font-size: 13px;
  color: gray;
}

.form-contact :-ms-input-placeholder {
  font-size: 13px;
  color: gray;
}

.form-contact ::-ms-input-placeholder {
  font-size: 13px;
  color: gray;
}

.form-contact ::placeholder {
  font-size: 13px;
  color: gray;
}

.form-contact textarea {
  min-height: 120px !important;
}

.flightgray {
  color: #333333 !important;
}

.content-page p {
  text-align: justify;
  padding-bottom: 20px;
}

.content-page h5 {
  color: #1e7400;
}

.accord h1,
.accord h2,
.accord h3 {
  color: #191919;
}

.accord h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.accord h1 span {
  display: block;
  font-size: .5em;
}

.accord a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.accord a:hover,
.accord a:focus {
  color: #ec407a;
  border-bottom: none;
}

.accord h3 {
  font-weight: 500;
}

.accord .intro {
  font-size: 1.25em;
}

.accord .js .panel-title {
  margin: 0;
}

.accord .panel-title a {
  border-bottom: none;
  color: #000;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
  font-size: 16px;
}

.accord .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.accord .panel-title a:hover,
.accord .panel-title a:focus {
  color: #1e7400;
}

.accord .panel-title a:hover .icon,
.accord .panel-title a:focus .icon {
  color: #ec407a;
}

.accord .panel-title a.active {
  color: #37474f;
}

.accord .panel-title a.active .icon {
  color: #ec407a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accord .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.accord .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.accord [id^="panel-"] {
  padding-bottom: 2em;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #999;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #999;
}

::-ms-input-placeholder {
  font-size: 13px;
  color: #999;
}

::placeholder {
  font-size: 13px;
  color: #999;
}

.postloginuser .dropdown-menu {
  border-radius: 0;
}

.postloginuser .dropdown-menu a {
  font-size: 13px;
  padding: 10px;
}

.postloginuser .dropdown-menu a:hover {
  background: #1e7400;
  color: #fff;
}

.left-user-navigation {
  background: #f7f3f3;
  padding: 20px 0 20px 20px;
  height: 100vh;
}

.left-user-navigation li a {
  color: #000;
  padding: 20px 0 20px 10px;
  display: inline-block;
  width: 100%;
}

.left-user-navigation li a:hover {
  background: #fff;
  text-decoration: none;
}

.left-user-navigation li .ltnavactive {
  background: #fff;
  text-decoration: none;
}

.right-profile {
  padding: 0 20px 20px 20px;
}

.right-profile h4 {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.right-profile .userlist li p {
  color: #999;
  padding-bottom: 05px;
}

.right-profile .order-row {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.right-profile small {
  font-size: 12px;
  color: #666;
  padding: 0 10px 0 0;
}

.form-group label {
  padding-bottom: 6px;
}

.form-group .form-control {
  border-radius: 0;
  height: 45px !important;
  font-size: 13px;
}

.favourite-col {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin-bottom: 15px;
}

.favourite-col:hover {
  border: 1px solid #000 !important;
}

.favourite-col .fav-food {
  top: 0;
  right: 0;
  background: #1e7400;
  padding: 5px;
  cursor: pointer;
}

.favourite-col .fav-food:hover {
  background: #fff;
}

.favourite-col .fav-food:hover .icomoon {
  color: #1e7400;
}

.favourite-col .fav-food .icomoon {
  font-size: 15px;
  color: #fff;
}

.favourite-col .active-fav {
  background: #fff;
}

.favourite-col .active-fav .icomoon {
  color: #1e7400;
}

.favourite-col article p {
  font-size: 12px !important;
}

.favourite-col article .h6 a {
  color: #000;
}

.favourite-col article .h6 a:hover {
  text-decoration: none;
  color: #1e7400;
}

.acno {
  letter-spacing: 2px;
}

.accol .delicon {
  top: 10px;
  right: 10px;
}

.accol .delicon .icomoon {
  font-size: 16px;
  color: #999;
}

.card-faq .h6 {
  font-size: 15px;
}

.card-faq p {
  font-size: 13px;
  text-align: justify;
}

.address-column {
  min-height: 200px;
  margin-bottom: 20px;
}

.address-column .icomoon {
  font-size: 25px;
}

.address-column p {
  font-size: 13px;
  text-align: left;
}

.address-column .editadd {
  padding-top: 10px;
}

.address-column .editadd a {
  padding: 0 5px;
  font-weight: bold;
  padding-right: 15px;
  color: #1e7400;
}

small {
  font-size: 11px;
  color: #999;
}

.table-borderless td {
  border: none;
  vertical-align: middle;
  font-size: 13px;
}

.total-table td {
  font-size: 12px;
  color: #999;
}

.overflow-hidden {
  overflow: hidden;
}

.custom-left-tab {
  font-size: 13px;
}

.custom-left-tab .resp-tabs-container p {
  font-size: 13px;
}

.txtgray {
  color: #a2a2a2 !important;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(http://www.animatedimages.org/data/media/596/animated-pizza-image-0008.gif) center no-repeat #fff;
}

.leftfilter {
  position: relative;
}

.leftfilter .filterdiv {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background: #fff;
  padding: 15px;
  z-index: 99;
}

.leftfilter .filters {
  width: 100%;
}

.leftfilter .filters label {
  cursor: pointer;
  padding: 3px 0;
}

.leftfilter .fixeddet {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
}

.detcol-rt {
  position: relative;
  z-index: 99;
}

.detcol-rt .det-right {
  width: 300px;
  background: #fff;
  padding: 10px;
}

.detcol-rt .detfix {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
}

.section-food {
  padding: 18px 0 0 0;
}
/*# sourceMappingURL=style.css.map */