@import "variables";
@import "mixins";
//custom font
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
//font Great vibes
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
body {
    @include font;
    @include fontsmoothing;
}

p {
    padding-bottom: 0;   
}
a{
    &:hover{
        text-decoration: none;
    }
}

//extends
%anchor {
    text-decoration: none;
}
input[type='submit']{
    cursor: pointer;
}

%fbold {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.fbold{    
    @extend %fbold;
}
%flight {
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
.greenlink{
    background:$green;
    color:$white!important;
    border:1px solid transparent;
    @include transition;
    padding:10px 25px;
    border-radius:25px;
    cursor:pointer;
    height:35px;

    &:hover{
        background:none;
        color:$green!important;
        border:1px solid $green;
        text-decoration:none;
    }

    &:focus{
        outline:none;
    }
}
%titleheading{
   font-size:$fsize + 6;
   @extend %fbold;
}

%titlesubheading{
    font-size:$fsize - 1;
    color:$green;      
}
.txtgreen{
    color:$green;

    &:hover{
        text-decoration:none;
    }
}
.txtblack{
    color:$black;   
}

.title-row{
   h2{
       @extend %titleheading;
   }
   h6{
       @extend %titlesubheading;      
      
   }   
}

//common styles
//header start
.fixed-theme{
    background:$white;
    box-shadow: 0 2px 2px #ccc;
    margin-top:-74px;
   
}
header {
    position:relative;
    z-index: 99;
    @include transition;
    //news updates start
    .news-updates {
        background: $green;
        color: $white;
        p {
            line-height: $fsize + 10;
            font-size: $fsize - 2;
        }
        a {
            @extend %anchor;
            @extend %fbold;
            color: $white;           
            @include transition;
            &:hover {
                text-decoration: none;
            }
        }
        .closeicon {
            right: 10px;
            top: 10px;
            a {
                font-size: 20px;

                .icomoon{
                    font-size:$fsize - 1;
                }
            }
        }
    }
    //news updates ends
    //navbar
    .navbar {
        padding-top: 0;
        padding-bottom:0;

        .navbar-brand {
            background:$white;
            padding-top:0;
            padding-bottom:0;
        }
        .nav-link{
            color:$black;
            margin:0 10px;

            &:hover{
                color:$green;
            }
        }
    }
    //navbarends
}
//header ends

//main starts
//search section starts
.search-section{
    margin-top:-96px;

    //search column starts
    .search-col{
        h6{
            color:$green;
            letter-spacing: 2px;
        }
        h1{
            @include vibestitle;
            font-size:$fsize * 4;
            margin:15px 0;
            color:$green;
        }
        .search-form{
            font-size:$fsize - 2;

            .icon{
                color:$green;
                top:10px;
                left:10px;
                font-size:$fsize + 3;
            }

            .form-control{
                font-size:$fsize;
                border-radius:0;
                padding-left:35px;
                height:40px;
               
                &:focus{
                    outline:none;
                    box-shadow: none;
                    border:1px solid $green;
                }                
            }
            ::placeholder{
               color:$black;
               opacity:0.3;
            }
            .btn{               
                border-radius:0;
                position:relative;
                background:$green url(../img/nexticon.png)no-repeat center center;
                height:45px;
                min-width:45px; 

                &:focus{
                   box-shadow: none;
                }
            }
        }
    }
    //search column ends 
}
//search section ends
main{
    padding-top:70px;
    min-height:500px;
}

//how it works starts
.how-itworks{
    background:$lightgray;

    .howcol{
        figure{
            width:105px;
            height:105px;
            border:1px solid $green;
            border-radius:50%;
            line-height: 155px;

            img{
                width:65px;
                height:65px;
            }
        }
        article{
            h4{
                font-size:$fsize + 4;
                padding:8px 0;

                &::first-letter{
                    background:$green;
                    color:$white;
                    font-size:$fsize + 2;
                    padding:0 5px;
                }
            }
            p{
                line-height: $fsize + 8;
                color:lighten($black, 40%);
                font-size:$fsize - 1;
                padding:12px 0;
            }
        }
    }    
}
//how it works ends 

//top restaurants starts 
.top-restaurants{
    ul{
        flex-wrap: wrap;

        li{
            margin:0 2px;
        }
    }
}
// top restaurants ends 

// top dishes starts
.top-dishes{
    .dishfigure{

        &:hover{
            img{
                filter: grayscale(100%);
            } 
        }

        img{
            height:400px;
            object-fit: cover;
            @include transition;

           
        }
        .price{
            top:0;
            right:0;
            padding:5px;
            color:$white;
            background:$green;
            font-size:$fsize - 1;
        }
    }
    .dishtitle{
        background:$white;
        padding:10px;
        width:90%;
        margin:-45px auto 0 auto;
        position: relative;

        h6{
            font-size:$fsize;
            color:$green;
            padding:0;
            margin:0;
        }
    }
}
//top dishes ends 

//testimonials  starts
.testimonials-home{
    background-color:$lightgray;
    background:url(../img/testimonials-bg.png)repeat-x center bottom;
    padding-bottom:60px;

    .test-container{
        background:$white;
        box-shadow: 0 0 3px #ccc;
        min-height: 250px;
        margin-top:40px;

        .testcol{
            justify-content: space-between;

            .tester{
                position: relative;
                figure{
                    margin:10px;
                    img{
                        width:158px;
                        height:150px;
                        object-fit: cover;
                        border-radius:10px;
                        @include transition;

                        &:hover{
                            filter: grayscale(100%);
                        }
                    }
                }
                .comments{
                    background:$lightgray;
                    padding:15px;
                    border-radius:10px;
                    position: absolute;
                    top:0;
                    min-height: 100px;
                }
            }
        }
    }    
}
// testimonials ends 

//subscribe starts
.subscribe{
    background:url(../img/subscribebg.jpg)no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
    padding:80px 0;

    .subscribe-in{
        background:$white;
        min-height: 65px;
        width:100%;
        border-radius:40px;

        input[type="text"]{
            height:60px;
            padding:5px 10px;
            border:none;
            margin-left:20px;
            border-radius:40px;
            width:76%;

            &:focus{
                box-shadow: none;
                outline:none;
            }
        }
        ::placeholder{
            color:$black;
            opacity:0.5;
        }
        input[type="submit"]{
            background:$green;
            width:20%;
            height:55px;
            color:$white;
            text-transform: uppercase;
            border:none;
            border-radius:40px;
            margin-top:5px;
            margin-left:5px;
            letter-spacing: 2px;
            cursor: pointer;
            border:1px solid transparent;
            font-size:$fsize + 3;
            @include transition;

            &:focus{
                outline:none;
                box-shadow: none;
            }

            &:hover{
                background:$white;
                color:$green;
                border:1px solid $green;

            }
        }
    }
}
//subscribe ends 
//main ends


//footer
footer{
    background:#fefefe url(../img/footerbgimg.jpg)no-repeat top right;
    min-height: 250px;

    h4{
        font-size:$fsize + 4;
        color:$black;
        padding:15px 0;
    }
    ul{
        li{
            a{
                color:lighten($black, 60%);
                padding:7px 0;
                display:inline-block;
                font-size:$fsize - 1;

                &:hover{
                    text-decoration: none;
                    color:$green;
                }
            }
        }
    }
    .footersocial{
        a{
            color:$black;
            font-size:$fsize + 4;

            &:hover{
                text-decoration: none;
                color:$green;
            }
        }
    }
    .copyrights{
        background:$green;
        padding:15px 0;

        #movetop{
            width:45px;
            height:45px;
            background:$green;
            color:$white;
            bottom:0;
            right:4px;
            border-radius:50%;
            text-align: center;
            line-height: 50px;           
            position:fixed;           
            border:1px solid transparent;
            z-index: 999;
            
            .icomoon{
                font-size:18px;
            }
    
            &:hover{
               background:$red;
               text-decoration:none;
            }            
        }

        p{
            color:$white;
            font-size:$fsize - 1;
        }
    }
}
//footer ends 

//sub page styles
.subbody{
    .news-updates{
        display:none;
       
    }
    //breadcrumb starts
    .breadcrumb{
        background:$lightgray;
        margin-bottom:0;

        .active{
            color:$green;
            font-size:$fsize - 1;
        }

        a{
            color:$black;
            font-size:$fsize - 1;
        }
        .pagetitle{
            @extend %fbold;
            color:$green;
            margin-bottom:0;
            padding-bottom:0;
        }
    }
    //breadcrumb ends

    //sub page body styles 
    .subpage-body{
        padding:25px 0;

        p{
            font-size:$fsize;
            line-height:$fsize + 10;
            color:$black;
        }
        .signform{
            label{
                padding:5px 0;
            }
            .form-group{
                margin-bottom:25px;
            }
            .form-control{
                height:45px;
                border-radius:25px;
                padding-left:20px;

                &:focus{
                    box-shadow: none;
                    outline: $green;
                    border-color:$green;
                }
            }

            ::placeholder{
                color:#ccc;
                font-size:$fsize - 1;
            }

            a{
                color:$black;
                text-decoration: none;

                &:hover{
                    color:$green;
                }
            }
        }
        .titlelist{
            padding:10px 0;
            font-size:15px;
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
        }
        .filters{
            padding:20px 0;
            li{
                padding:7px 0;
                a{
               
                    color:lighten($black, 50%);
    
                    span{
                        padding:0 10px;
                        display:inline-block;
                    }
    
                    &:hover{
                        text-decoration:none;
                        color:$black;
                    }
                }
                label{
                    &:hover{
                        color:$green;
                    }
                }
            }
            
        }

        .rank{
            color:$green;
        }

        .rest-col{
            min-height:120px;
            border:1px solid #eee;
            margin-bottom:10px;
            padding:10px;

            p{
                font-size:$fsize - 1;
            }

            .icon-star{
                color:lighten($black, 60%);
                cursor:pointer;
            }
           
            h5{
                padding:5px 0;
                a{
                    font-size:$fsize + 3;
                    color:$black;

                    &:hover{
                        text-decoration: none;
                        color:$green;
                    }
                }
            }
            .typefood{
                color:lighten($black, 60%);
                font-size:$fsize - 1;
            }
            .view{
                a{
                    color:lighten($black, 60%);
                    padding:5px 7px;
                    border:1px solid #ccc;
                    display:inline-block;
                    border-radius:3px;

                    &:hover{
                        text-decoration:none;
                        background:$green;
                        color:$white;
                    }
                }
                .viewmenu{
                    border:1px solid $green;
                    color:$green;
                }
            }
        }
        .detail-food-col{
            min-height:96px;

            .foodimg{
                height:75px;
                width:75px;
                object-fit: cover;

            }
        }
        .pagination{
            li{
                a{
                    padding:10px;
                    color:$black;
                    border:1px solid #ccc;
                    margin-left:-1px;
                    height:35px;
                    display:inline-block;

                    &:hover{
                        text-decoration:none;
                        background:$green;
                        color:$white;
                    }
                }
            }
        }
        .addfood{
            width:30px;
            height:30px;
            border-radius:50%!important;
            line-height:20px;
            text-align:center;
        }
        .rest-review{
            margin:20px 0;
            border-bottom:1px dashed #ccc;
            padding:10px 0;

            p{
                font-size:$fsize - 1;
            }

            small{
                color:lighten($black, 60%);
            }
        }
        .form-booktable{
            .form-control{
                height:36px;
                border-radius:0;
                font-size:$fsize - 1;

                &:focus{
                    outline:$green;
                    box-shadow:none;
                    border-color:$green;
                }
            }
            ::placeholder{
                color:lighten($black, 70%);
                font-size:$fsize - 2;
            }
        }
        .cart-food{
            td{
                font-size:$fsize - 2;
                line-height:$fsize + 4;
            }
            tfoot{
                background:$black;
                color:$white;
               
                td{
                    font-size:$fsize + 2;
                }
            }
        }

        .delvicon{
            img{
                width:150px;
            }
        }
        .deliverytable{
            tr{
                td{
                    line-height:20px;
                }
            }
        }
      
    }
    //sub page body styles ends
}

//sub page styles ends 

.choicetitle {
    font-size:$fsize + 3;
    border-bottom:1px solid $lightgray;
    padding:10px 0;
    color:$green;

}
.modal-title{
    font-size:$fsize + 6;   
}
.form-food{
   .custom-control-label{
       line-height: 23px;
   }
   .pricetag{
       font-size:$fsize - 2;
       display:block;
       margin-left:30px;
       margin-top:10px;
       color:lighten($black, 50%);
   }
   .coladd{
       margin-bottom:20px;
   }   
}

//blog styles 
.bloglist{
    a{
        color:$black;

        &:hover{
            text-decoration:none;
            color:$green;
        }
    }
}
.blogdt{  
    padding-bottom:10px;

    span{       
        display:inline-block;
        font-size:$fsize - 1;
        color:#989898;

        &:after{
            content:'|';
            padding:0 10px;
        }
        &:last-child{
            &:after{
                content:'';
            }
        }
    }   
}
.blogdetail{
    p{
        padding-bottom:20px;
        text-align:justify;
    }
}
.form-contact{   
    label{
        padding:10px 0;
    }
    .form-control{
        border-radius:0;    
        min-height:50px;    
    }
    ::placeholder{
        font-size:$fsize - 1;
        color:lighten($black, 50%);
    }
    textarea{
        min-height:120px!important;
    }
}
.flightgray{
    color:lighten($black, 20%)!important;
}
.content-page{
    p{
        text-align:justify;
        padding-bottom:20px;
        
    }
    h5{
        color:$green;
    }
}

//accordian styles 
.accord{
    h1,
    h2,
    h3 {
    color: #191919;
    }
    h1 {
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;
    }
    h1 span {
    display: block;
    font-size: .5em;
    }
    a {
    border-bottom: 1px solid #ec407a;
    color: #607d8b;
    text-decoration: none;
    }
    a:hover,
    a:focus {
    color: #ec407a;
    border-bottom: none;
    }
    h3 {
    font-weight: 500;
    }
    .intro {
    font-size: 1.25em;
    }
    .js .panel-title {
    margin: 0;
    }
    .panel-title a {
    border-bottom: none;
    color:#000;
    display: block;
    padding: 1.25em 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 200ms ease 0s;
    -moz-transition: color 200ms ease 0s;
    transition: color 200ms ease 0s;
    width: 100%;
    font-size:$fsize + 2;
    }
    .panel-title a .icon {
    color: #9e9e9e;
    position: absolute;
    right: 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    }
    .panel-title a:hover,
    .panel-title a:focus {
    color:$green;
    }
    .panel-title a:hover .icon,
    .panel-title a:focus .icon {
    color: #ec407a;
    }
    .panel-title a.active {
    color: #37474f;
    }
    .panel-title a.active .icon {
    color: #ec407a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .js .accordion {
    border-bottom: 1px solid #ececec;
    margin: 2em 0;
    }
    .accordion .panel-title a {
    border-top: 1px solid #ececec;
    }
    [id^="panel-"] {
    padding-bottom: 2em;
    }
}
::placeholder{
    font-size:$fsize - 1;
    color:#999;
}
.postloginuser{
    .dropdown-menu{
        border-radius:0;
        a{
            font-size:$fsize - 1;
            padding:10px;

            &:hover{
                background:$green;
                color:$white;
            }
        }
    }
}


.left-user-navigation{
    background:$lightgray;
    padding:20px 0 20px 20px;
    height:100vh;

    li{
        a{
            color:$black;
            padding:20px 0 20px 10px;
            display:inline-block;
            width:100%;           

            &:hover{
                background:$white;
                text-decoration:none;
            }
        }
        .ltnavactive{
            background:$white;
            text-decoration:none;
        }
    }
}
//right user profi9le
.right-profile{
    padding:0 20px 20px 20px;

    h4{
        margin-bottom:20px;
        padding-bottom:10px;
    }

    .userlist{
        li{
            p{
                color:#999;
                padding-bottom:05px;
            }
        }
    }
    .order-row{
        padding:10px;
        border:1px solid #ccc;
        margin-bottom:15px;
    }
    small{
        font-size:$fsize - 2;
        color:#666;
        padding:0 10px 0 0;
    }
}

.form-group{
    label{
        padding-bottom:6px;
    }
    .form-control{
        border-radius:0;
        height:45px!important;
        font-size:$fsize - 1;
    }
}

.favourite-col{

    @include transition;
    margin-bottom:15px;

    &:hover{
        border:1px solid $black!important;
    }

    .fav-food{
        top:0;
        right:0;
        background:$green;
        padding:5px;
        cursor: pointer;

        &:hover{
            background:$white;
           
            .icomoon{
                color:$green;
            }
        }       

        .icomoon{
            font-size:15px;
            color:$white;
        }
    }

    .active-fav{
        background:$white;
       
        .icomoon{
            color:$green;
        }
    }

    article{
        p{
            font-size:$fsize - 2!important;
        }
        .h6{
            a{
                color:$black;

                &:hover{
                    text-decoration: none;
                    color:$green;
                }
            }
        }
    }    
}

.acno{
    letter-spacing: 2px;
}

.accol{
    .delicon{
        top:10px;
        right:10px;

        .icomoon{
            font-size:16px;
            color:#999;
        }
    }
}
.card-faq{
    .h6{
        font-size:$fsize+ 1;
    }
    p{
        font-size:$fsize - 1;
        text-align:justify;
    }
}

.address-column{
    min-height: 200px;
    margin-bottom:20px;
    .icomoon{
        font-size:25px;
    }
    p{
        font-size:$fsize - 1;
        text-align:left;
    }
    .editadd{
        padding-top:10px;
        a{
            padding:0 5px;
            font-weight: bold;
            padding-right:15px;
            color:$green;
        }
    }
}

small{
    font-size:$fsize - 3;
    color:#999;
}

.table-borderless {
    td{
        border:none;
        vertical-align: middle;
        font-size:$fsize - 1;
    }
}

.total-table{
    td{
        font-size:$fsize - 2;
        color:#999;
    }
}
.overflow-hidden{
    overflow:hidden;
}

.custom-left-tab{
   font-size:$fsize - 1;

   .resp-tabs-container{
       p{
        font-size:$fsize - 1; 
       }
   }
}

.txtgray{
    color:#a2a2a2!important;
}

//preloader styles
.no-js {
    #loader { 
        display: none;  
    }
}
.js{
    #loader{
        display: block; 
        position: absolute; 
        left: 100px; 
        top: 0;
    }
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(http://www.animatedimages.org/data/media/596/animated-pizza-image-0008.gif) center no-repeat #fff;
}

.leftfilter{
    position:relative;
    .filterdiv{
        @include transition;
        background:$white;
        padding:15px;
        z-index: 99;
    }
    .filters{
        width:100%;  
        
        label{
            cursor: pointer;
            padding:3px 0;
        }
    }
    .fixeddet{
        position:sticky;
        // position:fixed;
        top:25px;       
    }   
}
.detcol-rt{
    position: relative;
    z-index: 99;

    .det-right{
        width:300px;
        background:$white;
        padding:10px;
    }
    .detfix{
        position:sticky;
        // position:fixed;
        top:25px;       
    }
}

.section-food{
    padding:18px 0 0 0;
   
}





