$fsize: 14px;
$black: #000;
$green: #1e7400;
$red: #ca0808;
$white: #fff;
$lightgray:#f7f3f3;

//variables for devices breakpoints

$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1200px;
